/* CSS STUFF OK */

body{
	background-color: #fff;
	font-family: 'Roboto', sans-serif !important;
/*	font-family: "Arial,sans-serif"; */
	color: #343434;
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto', sans-serif !important;
}

header {
	background-color: #fff;
	padding: 4px 8px;
	border-bottom: 1px solid #ccc;
}

html{
	overflow-x: hidden;
}


#loading{
	display: none;
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
	width: 420px;
	margin-left: -210px;
	height: 100px;
	border: 1px solid #999;
	padding: 1em 2em;
	background-color: #fff;
	box-shadow: 1px 0px 2px #1b1b1b;
	text-align: center;
}

/* Navigation bar style start */ 
.navbar .nav-item:not(:last-child) {
	/* margin-right: 25px; */
  }
  
  .dropdown-toggle::after {
	 transition: transform 0.15s linear; 
  }
  
  .show.dropdown .dropdown-toggle::after {
	transform: translateY(3px);
  }
  
  .dropdown-menu {
	margin-top: 0;
  }
/* end */

/* .city {
	background-image: url('/img/city.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
	background-position: center center;
	height: 400px;
}
*/

.bg-overlay{
	background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('/img/city.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 550px;
	color: fff;
}
.bg-login{
	background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('../img/smokies.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 750px;
	color: fff;
	/*filter: drop-shadow(0 0 10px black); */
}

/* .container-fluid{
	position:absolute;
	left: 0;
	background: #005c93;
	opacity: .8;
	bottom: 0;
	z-index: 1;
	width: 100%;
	padding-top: .4rem;
	padding-bottom: .4rem;

}
*/
.spacer{
	height: 1.5em;
	width: 100%;
}

.jumbotron {
	border: 1px solid *777;
	box-shadow: 1px 8px 16px #ccc;
	padding: 1.5em 2em;
	margin-top: 4em;
	background-color: #ffffffcc;
}

.modal-footer {
	border-top: 100px;
}

.search-form {
    max-width: 10.526rem;
}

.search-form {
    position: relative;
    margin-bottom: 0;
	margin-left: 2rem;
}

.search-field {
	display: inline-block;
	width: 1.526rem;
	height: 1.579rem;
	margin-bottom: 0;
	padding-right: 1.579rem;
	float: left;
	border-radius: 50px;
	font-size: .737rem;
	line-height: 1;
	z-index: 100;
	position: relative;
}
.w-input, .w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
}

.search-button {
    position: absolute;
    right: 0;
    width: 2.579rem;
    height: 1.579rem;
    padding: 1rem;
    background-color: transparent;
    background-image: url('/img/search-glass.png');
    background-position: 50% 50%;
    background-size: 13px;
    background-repeat: no-repeat;
    color: transparent;
    z-index: 100;
}
 .w-button {
    display: inline-block;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
} 

.dropdown-item:hover {
background-color: rgb(26, 142, 236, 0.3);

}


.form-check {
	color: #666;
	font-size: .8375rem;
	white-space: nowrap;
	padding-top: 8px;
}

.btn-logout{
	background-color: rgba(255, 255, 255, 0.034) !important;
	border: 1px solid rgba(146, 146, 146, 0.5) !important; 
}

#errMsg{
	padding-bottom: 8px;
	color: #bf2155;
}

#accounts {
	border-right: 1px solid #ccc;
}

#page-content {
	flex: 1 0 auto;
  }
  
#sticky-footer {
	flex-shrink: none;
  }

  .btn-apply {
	max-width: 100%;
	min-width: auto;
	height: 40px;
	margin: auto;
	padding: .65rem 1.516rem;
	border-width:1px;
	text-align: center !important;
	font-size:.895rem;
	border: 2px solid #007bff;
    border-radius: 36px;
	background-color: #007bff;
	transition: color 200ms ease,all 200ms ease;
	color: #fff;
	line-height: 1;
    font-weight: 10;
    text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-family: "logofont";
	transition: all .4s ease;
	box-sizing: border-box;
	cursor: pointer;
	margin-left: 1.1rem;
	/* height: 2.4em;
    line-height: 2.4em; */
  }

.btn-securelogin {
	max-width: 100%;
	min-width: auto;
	height: 40px;
	margin: auto;
	padding: .65rem 1.516rem;
	border-width:1px;
	text-align: center !important;
	font-size:.895rem;
	line-height: 1;
	font-weight: 10;
	border-radius: 36px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-family: "logofont";
	transition: all .4s ease;
	box-sizing: border-box;
	cursor: pointer;
  padding-left: 1.3rem;
  border-color: transparent;
  background-color: #efeeee;
  color: #00adf2;
}



  .dropdown {
	color: #343434;
	font-size: 1rem;
	font-weight: 650;
	padding: 10px 20px;
    display: block;
    position: relative;
    vertical-align: top;
	text-decoration: none;
	text-align: left;
    margin-left: auto;
    margin-right: auto;
	white-space: nowrap;
	background-color: transparent;
	box-sizing: border-box;
	cursor: pointer;
}
  
/* .whypfcu {
	color: #343434;
	font-size: 1rem;
	font-weight: 650;
    display: block;
    position: relative;
    
	text-decoration: none;
	text-align: right;
    margin-left: auto;
    margin-right: auto;
	white-space: nowrap;
	background-color: transparent;
	box-sizing: border-box;
	cursor: pointer;

} */

@font-face {
	font-family: "logofont";
	src: url(../fonts/Montserrat-Regular.ttf);
}
.logofont {
	font-family: "logofont";
	transition: all .4s ease;
	background: transparent;
	box-sizing: border-box;
	cursor: pointer;
	height: 2.4em;
    line-height: 2.4em;
	
}

.sub-menu-link {
    color: #343434;
    font-size: 1rem;
	font-weight: 700;
	position: relative;
    vertical-align: top;
    text-decoration: none;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
	background-color: transparent;
}

.sub-menu {
	font-size: .899rem;
	font-weight: 400;
	display: block;
	color: #222;
	position: relative;
    vertical-align: top;
    text-decoration: none;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap
	
}

.dropdown-menu{animation:myDelay .15s forwards}
@keyframes myDelay{
    0%{opacity:0;}
    50%{opacity:0;}
    100%{opacity:1;}
}

.nav-separator {
    width: 1px;
    height: 14px;
    max-width: 1px;
	margin-right: 15px;
	padding-top: 2.4rem;
    /* margin-bottom: .842rem; */
    margin-left: 5px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 1px;
    -ms-flex: 0 0 1px;
    flex: 0 0 1px;
    background-color: #c4c4c4;
}

.button {
    max-width: 100%;
    min-width: 14.263rem;
    margin-bottom: 2.632rem;
    padding: .9rem 1.316rem;
    border: 2px solid #f99400;
    border-radius: 36px;
    background-color: #f99400;
    -webkit-transition: color 200ms ease,all 200ms ease;
    transition: color 200ms ease,all 200ms ease;
    color: #fff;
    font-size: 1.158rem;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.footer-bottom-wrapper.page-wrapper {
    padding-right: 0%;
    padding-left: 0%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-bottom-wrapper {
display: flex;
padding: 2.632rem 5%;
-webkit-box-align: start;
-webkit-align-items: flex-start;
-ms-flex-align: start;
align-items: flex-start;
}

.page-wrapper {
    display: block;
    max-width: 65.789rem;
    margin-right: auto;
    margin-left: auto;
}

.btn-signout {
	max-width: 100%;
	min-width: auto;
	height: 40px;
	margin: auto;
	padding: .65rem 1.516rem;
	border-width:1px;
	text-align: center !important;
	font-size:.895rem;
	line-height: 1;
	font-weight: 10;
	border-radius: 36px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-family: "logofont";
	transition: all .4s ease;
	box-sizing: border-box;
	cursor: pointer;
  padding-left: 1.3rem;
  border-color: transparent;
  background-color: #efeeee05;
  color: #00adf2;
  margin-top: 0.725rem !important;
}

.rates-value {
    font-size: 2.247rem;
    margin-bottom: .897rem;
    color: #007bff;

}